@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Iceberg&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

body{
    display: flex;
    justify-content: center;
}
.container {
    border: 3px solid rgba(255, 0, 0, 0.301);
    margin: 100px;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: fit-content;
}
.bottom-text{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    

}
.free{
    color: green;
}

.header {
    padding: 20px;

    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.box {
    /* border: 1px solid skyblue; */
    /* outline: none; */
    padding-bottom: 10px;
    /* margin: auto; */
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    /* width: 15vw; */


}

.box-style {
    outline: none;
    border: 1px solid skyblue;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.box-style::placeholder {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}


.button {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn {
    background-color: rgb(206, 14, 14);
    outline: none;
    border: 1px solid blue;
    padding: 10px;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 8px;
    color: invert;
    width: 20vw;

}

.email{

}